.artist-results {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5%;
}

.artist-result-items {
  display: flex;
  flex-direction: column;
  width: 85%;
}

.artist-results-title {
  text-align: center;
}