.event-link {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  font-size: 14px;
  text-decoration: none;
  line-height: 1.5;
}

.event-thumbnail {
  order: 0;
  height: 50px;
  width: 50px;
  margin: 0 10px;
}

.event {
  margin: 10px;
}

.event-link-items {
  margin: 0 10px;
}