.header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.search, .auth {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex: 1 1 auto;
}

.home-links {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 22px;
  padding: 15px;
  color: white;
  text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3);
  text-decoration: none;
  position: relative;
  width: 345px;
  margin: 7px 7px 0 7px;
}

.btn {
  background-image: linear-gradient(to bottom right, #288B58, #1522F1);
}

.btn:active {
  transform: translateY(3px);
}

@media only screen and (min-width: 600px) {
  .header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
  }
  .search, .auth {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    margin-top: 10px;
    flex: 0 0 auto;
  }
  .search {
    margin-left: 10px;
  }
  .auth {
    margin-right: 10px;
  }
  .home-links {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    padding: 15px;
    margin: 0 10px 0px 10px;
    color: #0C203C;
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3);
    text-decoration: none;
    position: relative;
    border: none;
    width: auto;
  }
  .home-links:hover {
    color: #288B58;
    font-weight: bold;
  }
  .home-links:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #1522F1;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
  }
  .home-links:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  .btn {
    background-image: none;
  }
}