.post-event-container {
  background-color: #ffffff;
  margin: 0 12% 12% 12%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  padding: 25px 0 25px 0;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

.post-event-title {
  text-align: center;
}

.post-event-form-group {
  margin-bottom: 1rem
}

.post-event-form-control {
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}

.form-about-control {
  min-height: 100px;
}

.post-event-form {
  padding: 0 15%;
}

@media only screen and (min-width: 680px) {
  .post-event-form {
    padding: 0 25%;
  }
}