.search-results {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 5%;
}

.search-result-items {
  display: flex;
  flex-direction: column;
  width: 85%;
}

.results-title {
  text-align: center;
}